export(apStats)
export(ev)
exportClasses(AntiProfile)
exportClasses(AntiProfileStats)
exportClasses(TissueSpecAntiProfile)
exportMethods(apCount)
exportMethods(apReorder)
exportMethods(buildAntiProfile)
exportMethods(getNormalRegions)
exportMethods(getNormalTissueRegions)
exportMethods(getProbeStats)
exportMethods(getProbesetIds)
import(matrixStats)
import(locfit)
import(methods)
